* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
    flex-direction: column;
}

body {
    font-family: 'MedievalSharp', cursive;
    background-color: #013601;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: center;
}

li {
    padding: 1em 1.5em;
    background: #E0AD74;
    box-shadow: 0px 0px 10px rgba(255, 204, 0, 0.5);
    border-radius: 10px;
    color: black;
}

footer {
    padding: 0.5em;
    color: white;
    background: linear-gradient(to bottom, #dca85d, #c88d3f);
    text-align: center;
    width: 100%;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3);
    border-top: 2px solid #c88d3f;
}
