.top-bar{
    display: flex;
    flex-direction: column;
    background-color: rgba(151, 39, 39, 0.8);
    align-items: center;
    justify-content: center;
    padding: 2em;
    outline: 1px solid black;
    gap:2em;
}

.top-bar-image {
    max-width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1vw solid white;
}
  
.background{
    background-color: white;
    padding: 1em;
    border: 5px solid black;
    border-radius: 1em;
}

.text{
    background-color: white;
    padding: 1em;    
    border: 1px solid black;

}



